---
- hosts: localhost
  gather_facts: false
  vars:
    heat_environment_file: "heat_params.yaml"

  tasks:
    - name: Build a Heat stack for the NGINX VM
      register: heat_stack
      os_stack:
        name: "{{ stack_name }}"
        state: present
        template: "servers_group.yaml"
        environment: 
          - "{{ heat_environment_file }}"

    - name: Debug the Heat stack outputs
      debug:
        var: heat_stack

    - name: pause
      pause:
        minutes: 2

    - name: Wait for the VM to become accessible
      wait_for:
        host: "{{ item.output_value }}"
        port: 22
        state: started
        timeout: 300
      loop:
        - "{{ heat_stack.stack.outputs[0] }}"

    - name: Add host to the dynamic inventory
      add_host:
        name: "{{ item.name }}"
        ansible_host: "{{ item.outputs[0].output_value }}"
        groups: "{{ item.name }}-group"
        ansible_ssh_user: "{{ vm_user_account }}"
      with_items:
        - "{{ heat_stack.stack }}"
